<div class="jumbotron">
    <h1>Edubran</h1>
    <p class="lead">Edubran Private web api to be used to develop Edubran client applications</p>
    
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>All the methods that are neccessary to build a client application have been made and requests to those methods is done through http communication.
         in this API is a list of all the possible requests in different categories</p>
        <p><a class="btn btn-default" href="http://edubran.elasticbeanstalk.com/Help">Hands on &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Requests</h2>
        <p>Requests for web applications can be made using ajax, care just need to be taken to put appropriate headers,
        When a request is made standard http response codes can be issued to represent various outcomes of the request</p>
        <p><a class="btn btn-default" href="http://edubran.elasticbeanstalk.com/Help">Hands on &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Security</h2>
        <p>Bearer Token authorization is being implemented in this api which means that you need authorization tokens to be able to make 
        requests. So the first thing to do is to get the user token by making a log in request, store it somewhere where you can fetch it 
        when you need to make requests for example you can store it in your javascript as a global variable or html5 local storage or even session storage
        or somewhere in the server as part of session data for persistance</p>
        <p><a class="btn btn-default" href="http://edubran.elasticbeanstalk.com/Help">Hands on &raquo;</a></p>
    </div>
</div>
